$padding: 16px;

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

h1 {
  padding-top: $padding;
  padding-left: $padding;
}

h2 {
  padding-left: $padding;
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: calc($padding / 2);
  }
}

h3 {
  font-weight: bold;
}

label {
  display: block;
  padding: 0 20px;
  position: relative;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

table {
  min-width: 49%;
  margin: 0.5%;
  padding: 1% 0;

  td {
    text-align: center;
  }
}

mat-drawer-container {
  height: calc(100vh - 67px);
}

mat-autocomplete,
mat-form-field {
  min-width: 20vw;
}

mat-card {
  margin: $padding * 2;
}

mat-panel-title {
  font-weight: bold;
}

mat-panel-description {
  flex-direction: row;
  justify-content: flex-end;
}

.example-container {
  height: 150px;
  width: 500px;
  overflow: auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep {
  .mat-checkbox {
    &.group0 {
      .mat-checkbox-background {
        background-color: #4e79a7 !important;
      }
    }

    &.group1 {
      .mat-checkbox-background {
        background-color: #f28e2c !important;
      }
    }

    &.group2 {
      .mat-checkbox-background {
        background-color: #e15759 !important;
      }
    }

    &.group3 {
      .mat-checkbox-background {
        background-color: #76b7b2 !important;
      }
    }

    &.group4 {
      .mat-checkbox-background {
        background-color: #59a14f !important;
      }
    }

    &.group5 {
      .mat-checkbox-background {
        background-color: #edc949 !important;
      }
    }

    &.group6 {
      .mat-checkbox-background {
        background-color: #af7aa1 !important;
      }
    }

    &.group7 {
      .mat-checkbox-background {
        background-color: #ff9da7 !important;
      }
    }
  }
}

mat-radio-group {
  padding-left: $padding;
}

mat-slider {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
