<h1>Nanobodies</h1>
<mat-divider></mat-divider>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <section>
      <form>
        <ul>
          <li>
            <h2><mat-icon>album</mat-icon> Tm</h2>
            <mat-form-field appearance="fill">
              <mat-label>Select a measure</mat-label>
              <mat-select name="tm" [(ngModel)]="selectedTm">
                <mat-option
                  *ngFor="let option of tmOptions"
                  [value]="option.value"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br />
            <label *ngIf="selectedTm">
              <br />
              <lib-ngx-mat-range-slider
                [min]="0"
                [max]="100"
                (output)="onChangeRange($event, selectedTm, 'tm')"
              >
              </lib-ngx-mat-range-slider>
              <br />
              <br />
            </label>

            <mat-divider *ngIf="selectedTm"></mat-divider>
            <br *ngIf="selectedTm" />
          </li>
          <li>
            <h2><mat-icon>album</mat-icon> Binding</h2>

            <mat-form-field appearance="fill">
              <mat-label>Antigen name</mat-label>
              <mat-chip-list #chipList aria-label="Select Antigen">
                <mat-chip
                  *ngFor="let antigen of selectedAntigens"
                  (removed)="removeOption(antigen, selectedAntigens)"
                >
                  {{ antigen }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <br />
                <br />
                <input
                  #antigenNameInput
                  matInput
                  [formControl]="antigenNameControl"
                  [matAutocomplete]="auto1"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addChip($event, selectedAntigens)"
                  placeholder="Select name..."
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto1="matAutocomplete"
                (optionSelected)="
                  selectOption(
                    $event.option.value,
                    selectedAntigens,
                    antigenNameControl,
                    antigenTypeInput
                  )
                "
              >
                <mat-option
                  *ngFor="let antigen of antigenNames"
                  [value]="antigen"
                >
                  {{ antigen }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br /><br />
            <mat-form-field appearance="fill">
              <mat-label>Antigen Type</mat-label>

              <mat-chip-list #chipList2 aria-label="Select Antigen Type">
                <mat-chip
                  *ngFor="let type of selectedAntigenTypes"
                  (removed)="removeOption(type, selectedAntigenTypes)"
                >
                  {{ type }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <br />
                <br />
                <input
                  #antigenTypeInput
                  matInput
                  [formControl]="antigenTypeControl"
                  [matAutocomplete]="auto2"
                  [matChipInputFor]="chipList2"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addChip($event, selectedAntigenTypes)"
                  placeholder="Select antigen type..."
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto2="matAutocomplete"
                (optionSelected)="
                  selectOption(
                    $event.option.value,
                    selectedAntigenTypes,
                    antigenTypeControl,
                    antigenTypeInput
                  )
                "
              >
                <mat-option *ngFor="let type of antigenTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br /><br />
            <mat-divider></mat-divider>
            <br />
          </li>
          <li>
            <h2><mat-icon>album</mat-icon> Yield (mg/L)</h2>
            <label>
              Periplasm <br /><br /><br />
              <lib-ngx-mat-range-slider
                [min]="0"
                [max]="100"
                (output)="onChangeRange($event, 'periplasm', 'yield')"
              >
              </lib-ngx-mat-range-slider>
            </label>

            <br />
            <br />

            <label>
              Cytoplasm <br /><br /><br />
              <lib-ngx-mat-range-slider
                [min]="0"
                [max]="100"
                (output)="onChangeRange($event, 'cytoplasm', 'yield')"
              >
              </lib-ngx-mat-range-slider>
            </label>

            <br />
            <br />

            <label>
              Other <br /><br /><br />
              <lib-ngx-mat-range-slider
                [min]="0"
                [max]="100"
                (output)="onChangeRange($event, 'other', 'yield')"
              >
              </lib-ngx-mat-range-slider>
            </label>
            <br />
            <br />
            <mat-divider></mat-divider>
            <br />
            <br />
          </li>
          <li>
            <h2><mat-icon>album</mat-icon> Origin</h2>

            <mat-form-field appearance="fill">
              <mat-label>Source</mat-label>

              <mat-chip-list #chipList3 aria-label="Select Source Origin">
                <mat-chip
                  *ngFor="let source of selectedSources"
                  (removed)="removeOption(source, selectedSources)"
                >
                  {{ source }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <br />
                <br />
                <input
                  #sourceInput
                  matInput
                  [formControl]="sourceControl"
                  [matAutocomplete]="auto3"
                  [matChipInputFor]="chipList3"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addChip($event, selectedSources)"
                  placeholder="Select source..."
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto3="matAutocomplete"
                (optionSelected)="
                  selectOption(
                    $event.option.value,
                    selectedSources,
                    sourceControl,
                    sourceInput
                  )
                "
              >
                <mat-option *ngFor="let source of sources" [value]="source">
                  {{ source }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br /><br />
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <input
                #typeInput
                matInput
                [formControl]="typeControl"
                [matAutocomplete]="auto4"
                placeholder="Select type..."
              />
              <mat-autocomplete #auto4="matAutocomplete">
                <mat-option *ngFor="let type of originTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field appearance="fill">
              <mat-label>Obtaining Method</mat-label>
              <input
                #obtainingMethodInput
                matInput
                [formControl]="obtainingMethodControl"
                [matAutocomplete]="auto5"
                placeholder="Select method..."
              />
              <mat-autocomplete #auto5="matAutocomplete">
                <mat-option
                  *ngFor="let method of obtainingMethods"
                  [value]="method"
                >
                  {{ method }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </li>
          <li>
            <h2><mat-icon>album</mat-icon> Sequence</h2>

            <mat-form-field appearance="fill">
              <mat-label>Raw</mat-label>
              <input
                #sequenceInput
                matInput
                [formControl]="sequenceControl"
                [matAutocomplete]="auto6"
                placeholder="Select sequence..."
              />
              <mat-autocomplete #auto6="matAutocomplete">
                <mat-option
                  *ngFor="let sequence of sequencies"
                  [value]="sequence"
                >
                  {{ sequence }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br /><br />
          </li>
        </ul>
      </form>
    </section>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-accordion>
      <mat-expansion-panel
        hideToggle
        *ngFor="let nanobody of $data | async"
        (opened)="nanobody.isOpen = true"
        (closed)="nanobody.isOpen = false"
        (afterExpand)="buildChart(nanobody)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ nanobody.name }}
          </mat-panel-title>
          <mat-panel-description>
            <button
              *ngIf="nanobody.structure.pdb"
              mat-button
              (click)="openDialog(nanobody)"
            >
              PDB
            </button>
            <a [href]="nanobody.reference.doi" target="_blank"
              ><mat-icon>open_in_new</mat-icon></a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <section class="info">
            <table class="mat-elevation-z1">
              <tr>
                <th colspan="6"><h3>Tm</h3></th>
              </tr>
              <tr>
                <th>nanoDSF</th>
                <th>DSF</th>
                <th>DSC</th>
                <th>Circular Dichroism</th>
                <th>Refolding</th>
                <th>Other</th>
              </tr>
              <tr>
                <td>{{ nanobody.tm.nanoDSF }}</td>
                <td>{{ nanobody.tm.dsf }}</td>
                <td>{{ nanobody.tm.dsc }}</td>
                <td>{{ nanobody.tm.circularDichroism }}</td>
                <td>{{ nanobody.tm.refolding }}</td>
                <td>{{ nanobody.tm.other }}</td>
              </tr>
            </table>
            <table
              class="mat-elevation-z1"
              *ngIf="nanobody.binding.antigens.length > 0"
            >
              <tr>
                <th colspan="3"><h3>Antigens</h3></th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Affinity</th>
              </tr>
              <tr *ngFor="let antigen of nanobody.binding.antigens">
                <td>{{ antigen.name }}</td>
                <td>{{ antigen.type }}</td>
                <td>{{ antigen.affinity }}</td>
              </tr>
            </table>
            <table class="mat-elevation-z1">
              <tr>
                <th colspan="3"><h3>Origin</h3></th>
              </tr>
              <tr>
                <th>Source</th>
                <th>Type</th>
                <th>Method</th>
              </tr>
              <tr>
                <td>{{ nanobody.origin.source }}</td>
                <td>{{ nanobody.origin.type }}</td>
                <td>{{ nanobody.origin.method }}</td>
              </tr>
            </table>
            <table
              class="mat-elevation-z1"
              *ngIf="nanobody.yield.periplasm || nanobody.yield.cytoplasm"
            >
              <tr>
                <th colspan="3"><h3>Yield</h3></th>
              </tr>
              <tr>
                <th>Periplasm</th>
                <th>Cytoplasm</th>
                <th>Other</th>
              </tr>
              <tr>
                <td>{{ nanobody.yield.periplasm }}</td>
                <td>{{ nanobody.yield.cytoplasm }}</td>
                <td>{{ nanobody.yield.other }}</td>
              </tr>
            </table>
          </section>
          <br /><br />
          <section>
            <div class="my_dataviz" #chart *ngIf="nanobody.isOpen"></div>
          </section>
          <section>
            <table
              class="mat-elevation-z1 full-width"
              *ngIf="nanobody.sequence.raw"
            >
              <tr>
                <th><h3>Sequence - Raw</h3></th>
              </tr>
              <tr>
                <td>{{ nanobody.sequence.raw }}</td>
              </tr>
            </table>

            <table class="mat-elevation-z1 full-width">
              <tr>
                <th><h3>Sequence - Aho</h3></th>
              </tr>
              <tr>
                <td>{{ nanobody.sequence.aho }}</td>
              </tr>
            </table>

            <table class="mat-elevation-z1 full-width">
              <tr>
                <th colspan="2"><h3>Sequence - Frameworks</h3></th>
              </tr>
              <tr>
                <td>Framework 1</td>
                <td>{{ nanobody.sequence.frameworks[0] }}</td>
              </tr>
              <tr>
                <td>Framework 2</td>
                <td>{{ nanobody.sequence.frameworks[1] }}</td>
              </tr>
              <tr>
                <td>Framework 3</td>
                <td>{{ nanobody.sequence.frameworks[2] }}</td>
              </tr>
              <tr>
                <td>Framework 4</td>
                <td>{{ nanobody.sequence.frameworks[3] }}</td>
              </tr>
            </table>

            <table class="mat-elevation-z1 full-width">
              <tr>
                <th colspan="3"><h3>Sequence - CDRs</h3></th>
              </tr>
              <tr>
                <th>Number</th>
                <th>Value</th>
                <th>Length</th>
              </tr>
              <tr>
                <td>CDR 1</td>
                <td>{{ nanobody.sequence.cdrs[0].value }}</td>
                <td>{{ nanobody.sequence.cdrs[0].length }}</td>
              </tr>
              <tr>
                <td>CDR 2</td>
                <td>{{ nanobody.sequence.cdrs[1].value }}</td>
                <td>{{ nanobody.sequence.cdrs[1].length }}</td>
              </tr>
              <tr>
                <td>CDR 3</td>
                <td>{{ nanobody.sequence.cdrs[2].value }}</td>
                <td>{{ nanobody.sequence.cdrs[2].length }}</td>
              </tr>
            </table>
          </section>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer-content>
</mat-drawer-container>
